
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title> {% block title %}   {% endblock title%}  </title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
   <div id="container">
        <nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">

     {% if request.session.name %}

    <a class="navbar-brand" href="#">{{request.session.name}}</a>
    {% else %}
     <a class="navbar-brand" href="https://www.flipkart.com/">FLIPKART</a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=" {% url 'home'  %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul> 
      <form method="get" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" name="search_box" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit"  >Search</button>
      </form>

       {% if request.session.cart|length %}
            <a href="{% url 'cart'%}" type="button" class="btn btn-primary position-relative">
                 <i class="bi bi-cart"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                   {{request.session.cart|length}}
              <span class="visually-hidden">unread messages</span>
             </span>
       </a>
       {% else %}
       <a href="#" type="button" class="btn btn-primary position-relative">
                 <i class="bi bi-cart"></i>
             
       </a>
       {% endif %}
       




      {% if request.session.name %}
       <a  href ="{% url 'logout'%}" type="button" class="btn btn-primary mx-3" >
                        Logout
                    </a>
       <a  href ="{% url 'order'  %}" type="button" class="btn btn-primary mx-3" >
                        Order
                    </a>
      {% else %}
                    <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#login">
                        Login
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signup">
                        Sign up
                    </button>
    {% endif %}
    </div>
  </div>
</nav>

<!--this is sign code-->  
            
<!-- this is sign up code end -->
        
       
      



   {% block content %}

   {% endblock content %}





    {% comment %} Modal for Login {% endcomment %}
    <!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'login' %}" method ="post">
                        {% csrf_token %}
                        <div class="row">
                <div class="col">
                    <input type="email" class="form-control" placeholder="Enter your Email..." name="email" aria-label="First name">
                </div>
                <div class="col">
                    <input type="password" class="form-control" placeholder="Enter Your Password" name="password" aria-label="Last name">
                </div>
                <div class="col-12 my-3">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                </div>
                
                    </form>
                </div>

            </div>
        </div>
    </div>


{% comment %} modal for signup {% endcomment %}
    <!-- Modal -->
    <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="inputEmail4" name="fname">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="inputPassword4" name="lname">
                        </div>
                         <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" name="email">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" name="password">
                        </div>
                         <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Mobile</label>
                            <input type="number" class="form-control" id="inputEmail4" name="mobile">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Gender</label>
                            <br>
                            <input type="radio" class="" id="inputPassword4" name="gender" value="male"> Male
                            <br>
                            <input type="radio" class="" id="inputPassword4" name="gender" value="female"> Female
                            
                            
                        </div>
                       
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>



</body>
</html>