{% extends 'base.html'%} {% load cart %}

{% block title %}
 CART

{% endblock title %}


{% block content %}
 <div class="container my-3">

     <table class="table table-success table-striped-columns">
          
      <tr class="text-center">
         <th> S no  </th>
         <th> Product name  </th>
         <th> Product image </th>
         <th> Price </th>
         <th> Quantity  </th>
         <th> Total  </th>

      </tr>
     {% for car_var in cart_obj %}
       <tr class="text-center">
           <td> {{forloop.counter}} </td>
           <td>{{car_var.product_name}}</td>
           <td>
                <img src="{{car_var.product_image.url}}" alt="" height=50 width=50>
           </td>
           <td>Rs{{car_var.product_price}}</td>
           <td> {{car_var|cartquantity:request.session.cart}}</td>
           <td>Rs.{{car_var|total_price:request.session.cart}}</td>
           


       </tr>

     {% endfor %}
    <tr class="text-center">
       <td colspan=4>
           <h3> Payable Amount </h3>
        </td>
        <td>
            Rs.{{cart_obj|Payable_Amount:request.session.cart}}

       </td>
       <td>
           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkout">
            Checkout
            </button>


       </td>

    </tr>




     </table>
   
<!-- Modal -->
 <div class="modal fade" id="checkout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Checkout</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'checkout' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Address</label>
                            <input type="text" class="form-control" name="address" id="formGroupExampleInput" placeholder="enter your address...">
                            </div>
                            <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Mobile</label>
                            <input type="number" class="form-control" name="mobile" id="formGroupExampleInput2" placeholder="enter your mobile...">
                            </div>
                            <button type="submit" class="btn btn-primary">Checkout</button>
                    </form>
                </div>
                {% comment %} <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> {% endcomment %}
            </div>
        </div>
    </div>

</div>


{% endblock content %}